body {
  background-color: #fafaff;
  color: #282828;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
h3 {
  margin: 5px auto;
}
.nb-wrapper {
  z-index: 2;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fafaff;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}
.nb-container, .nb-container:hover {
  color: #f52929;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: auto;
}
.page-content {
  width: 50%;
  margin: auto;
  display: grid;
}
@media only screen and (max-width: 800px) {
  .page-content {
    width: 95%;
    margin: auto;
  }
}
.page-title {
  margin: 1rem;
  text-align: center;
}
.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.submit-btn {
  grid-column: 1/3;
  justify-self: end;
}
.loading-container {
  font-size: 1.5rem;
  display: flex;
  /* align-items: center; */
}
.loading-spin {
  transform-origin: center 43%;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.stage-container {
  width: 100%;
  grid-column: 1/3;
  overflow-x: scroll;
  border: 3px solid #282828;
  border-radius: 3px;
  background-color: #282828;
  margin: auto;
}
.image-text-title {
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
}
